// Colors
$black: #121212;
$red: #dc391b;
$grey: #8C969D;
$green: #7aa95c;
$dark-grey: #555a5f;
// $black-grey: #23272a;
// $dark-grey: #2c2f33;
$off-white: #f7f7f7;
// $light-blue-grey: #99aab5;
// $cyane: #7289da;
// Spacing
$xs-size: 0.5rem;
$s-size: 1rem;
$m-size: 2rem;
$l-size: 3rem;
$xl-size: 4rem;
$largest-size: 18rem;
// Font Sizes
$l-font: 2rem;
$xl-font: 3rem;