.lang-buttons {
  position: absolute;
  z-index: 1;
  right: 0;
}

.lang-button {
  color: $dark-grey;
  text-decoration: none;
}

.lang-button:hover {
  text-decoration: none;
  color: darken($dark-grey, 30%);
}