.lang-buttons {
  position: absolute;
  right: 0;
  bottom: 50px;
}

.lang-button {
  color: $red;
  text-decoration: none;
}

.lang-button:hover {
  text-decoration: none;
  color: lighten($red, 30%);
}
